/* General setup */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  word-spacing: 0.4em;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;

}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

section h2+p {
  text-indent: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* M */

h1,
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  letter-spacing: 0.08em;
}

h1 {
  font-size: 4em;
}

header h1 {
  text-align: center;
}

section,
aside {
  font-size: 1.4em;
}

a,
a:hover,
a:link,
a:visited,
a:focus {
  color: #a66;
}

a:hover,
a:focus {
  text-decoration: none;
}

a {
  outline: none;
}

a:active {
  font-style: italic;
  color: rgb(206, 108, 108);
}

a[href^="http"] {
  background-image: url('images/ex-link.png');
  background-size: 16px;
  background-repeat: no-repeat;
  padding-right: 19px;
  background-position: 100% 0;
}

ul {
  list-style-type: square;
}

ul,
ol {
  margin: 1.6rem 0;
}

nav {
  width: 20%;
  float: left;
  font-size: 2em;
  margin-left: 0;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  width: 100%;
  margin-right: 20px;
  padding: 1em;
  display: inline-block;
  border: 2px solid #a66;
  text-align: center;
  margin-bottom: 1em;
}

nav ul li:hover {
  background-color: azure;
}

nav ul li:active {
  background-color: aliceblue;
}

nav ul li a {
  text-decoration: none;
}
