/* General styles */
body {
  margin: 0;
}

#wrapper * {
  padding: 20px;
  font-size: 20px;
  border: 20px solid rgba(0, 0, 0, 0.5);
}

/* specific boxes */

#wrapper header,
#wrapper footer {
  background-color: blue;
  color: white;
}

#wrapper header {}

#wrapper main {
  background-color: yellow;
  margin: 5%;
  padding: 5%;
  border: 60px dashed red;
  width: 60%;
}

#wrapper footer {
  margin-top: 15px;
}
